<!-- SIDEBAR -->
<aside class="sidebar">

	<!-- TOGGLE -->
	<div class="link-item">
		<a href="javascript:void(0)" id='menu-toggle'>
			<i class="bx bx-menu"></i>
			<span class="link-name">Menu</span>
		</a>
	</div>

	<!-- SETUP -->
	<div class="link-item">
		<a href="javascript:void(0)" id='setup-link'>
			<i class='bx bx-list-ul'></i>
			<span class="link-name">Setup</span>
		</a>
	</div>

	<!-- SOLUTION -->
	<div class="link-item">
		<a href="javascript:void(0)" id='solution-link'>
			<i class='bx bx-code-block'></i>
			<span class="link-name">Solution</span>
		</a>
	</div>

	<!-- RESULTS -->
	<div class="link-item">
		<a href="javascript:void(0)" id='results-link'>
			<i class='bx bx-line-chart-down'></i>
			<span class="link-name">Results</span>
		  </a>
	</div>

</aside>