.log-row {
	background-color: white;
    width: 50%;
}
.log-icon {
	height: 4rem;
	width: 4rem;
	font-size: 4rem;
}
.log-row a {
    text-decoration: none;
    color: #17a2b8;
}
@media (max-width: 840px){
    .log-row {
        width: 90%;
    }
}